# Variáveis de Ambiente - Millesime
# Copie estes valores conforme necessário

# Banco de Dados PostgreSQL (Render - URL Externa)
DB_URL=jdbc:postgresql://dpg-d7jph7vavr4c73chk1e0-a.ohio-postgres.render.com/millesime
DB_USERNAME=admin
DB_PASSWORD=MyylWWoU2uiPAqmcCbIa3l0PF9CqNuMP

# Servidor
SERVER_PORT=8081

# Hibernate
HIBERNATE_DDL_AUTO=create-drop

# SQL Init
SQL_INIT_MODE=always
